<!DOCTYPE html>
<html>
    <head>
        <title>Spotify API Practice</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Going to log in here</h1>
        <a href="/login_spotify">Log Into Spotify</a>
        <br><br><br><br>
        <a href="/playlists">View Playlists</a>
        <p></p>

        
        
    </body>
</html>