<!DOCTYPE html>
<html>
    <head>
        <title>Spotify API Practice</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Playlists</h1>
        
        <p></p>
    </body>
</html>