<!DOCTYPE html>
<html>
    <head>
        <title>Spotify API Practice</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style type="text/css">
            option:nth-child(even), #trackSelect a:nth-child(even){
                background-color: #f7faff;
            }
            #trackSelect{
                line-height: 2.5ex;
                height: 50.0ex; /* 2.5ex for each visible line */
                overflow-y: scroll;
                overflow-x: scroll;
            }
            /*#trackSelect a{
                overflow-x: scroll;
            }*/
            #trackSelect a input{
                margin-top: -1px;
                margin-right: 5px;
            }
        </style>
    </head>
    <body>
    	<div class="container">
            <div class="row">
                <!-- START OF SPOTIFY ROW -->
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h1>Spotify</h1>

                    <select class="form-control" id = "playlistSelect">
                        <% playlists.forEach(function(playlist){ %>
                            <option value= '<%= playlist.playlistId %>'><%= playlist.playlistName %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <div class="list-group" id="trackSelect" style="visibility: hidden;">

                    </div>
                </div>
                <!-- END OF SPOTIFY ROW -->

            </div>
            <div class="row">
                 <!-- START OF APPLE MUSIC ROW -->
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <h1>Apple Music</h1>

                    <select class="form-control" id = "playlistSelect">
                        <% playlists.forEach(function(playlist){ %>
                            <option value= '<%= playlist.playlistId %>'><%= playlist.playlistName %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <select multiple class="form-control" id="trackSelect" size="30" style = "visibility: visible;" ></select>
                </div>
                <!-- END OF APPLE MUSIC ROW -->
            </div>
    	</div>




        <!-- SCRIPTS -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
        
            $(document).ready(function(){
                loadTracksIntoSelect();
            });

        	$("#playlistSelect").change(function(){
        		loadTracksIntoSelect();
        	});

        	function loadTracksIntoSelect(){
        		var playlistID = $("#playlistSelect").val();
        		console.log(playlistID);
        		$.ajax({
        			type: 'GET',
        			url: '/spotify/'+playlistID+'/tracks',
        			success: function(data){
        				$("#trackSelect").empty();       			 
        				$("#trackSelect").css("visibility", "visible");   
                        var i = 0; 
                        $('#trackSelect').append('<a href="#" class="list-group-item"><input type="checkbox" class="checkbox-inline" value="select_all" style="background-color: #dbdbdb;"/>Select All</a>');
                        data.tracks.forEach(function(track){
                            //  $('#trackSelect').append($('<option>', {
                            //     value: track.trackId,
                            //     text: (i+1)+". "+track.trackName+" - " + track.trackArtist
                            // }));
                            $('#trackSelect').append('<a href="#" class="list-group-item"><input type="checkbox" class="checkbox-inline" value='+track.trackId+'/>'+track.trackName+' - '+track.trackArtist+'</a>');
                            i++;
                        });  			
        			}
        		});
        	}
        </script>
    </body>
</html>