<!DOCTYPE html>
<html>
    <head>
        <title>Spotify API Practice</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style type="text/css">
            option:nth-child(even){
                background-color: #f7faff;
            }
        </style>
    </head>
    <body>
    	<div class="container">
            <div class="row">
                <!-- START OF SPOTIFY COLUMN -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h1>Spotify</h1>

                    <select class="form-control" id = "playlistSelect">
                        <% playlists.forEach(function(playlist){ %>
                            <option value= '<%= playlist.playlistId %>'><%= playlist.playlistName %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <select class="form-control" id="trackSelect" size="30" style = "visibility: hidden; " >
                        <!-- populated in script -->
                    </select>
                </div>
                <!-- END OF SPOTIFY COLUMN -->

                <!-- START OF APPLE MUSIC COLUMN -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">
                    <h1>Apple Music</h1>

                    <select class="form-control" id = "playlistSelect">
                        <% playlists.forEach(function(playlist){ %>
                            <option value= '<%= playlist.playlistId %>'><%= playlist.playlistName %></option>
                        <% }); %>
                    </select>
                    <br>
                    <br>
                    <select class="form-control" multiple="multiple" id="trackSelect" size="30" style = "visibility: visible;" >
                </div>
                <!-- END OF APPLE MUSIC COLUMN -->
            </div>
    	</div>




        <!-- SCRIPTS -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript">
        
            $(document).ready(function(){
                loadTracksIntoSelect();
            });

        	$("#playlistSelect").change(function(){
        		loadTracksIntoSelect();
        	});

        	function loadTracksIntoSelect(){
        		var playlistID = $("#playlistSelect").val();
        		console.log(playlistID);
        		$.ajax({
        			type: 'GET',
        			url: '/'+playlistID+'/tracks',
        			success: function(data){
        				$("#trackSelect").empty();       			 
        				// $("#trackSelect").attr('size', 30);
        				$("#trackSelect").css("visibility", "visible");   
                        var i = 0; 
                        data.tracks.forEach(function(track){
                             $('#trackSelect').append($('<option>', {
                                value: track.trackId,
                                text: (i+1)+". "+track.trackName+" - " + track.trackArtist
                            }));
                            i++;
                        });  			
        			}
        		});
        	}
        </script>
    </body>
</html>